.header-container,
main {
  margin: 0 auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  background: #010001;
  padding-top: 20px;
  padding-bottom: 9px;
  max-width: 1300px;
  color: azure;
}

.header-container h1 {
  background: rgb(2, 2, 32);
  padding: 50px;
  font-size: 90px;
  letter-spacing: 15px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-style: dotted;
}
.header-container h2 {
  font-size: 40px;
}
.header-container h4 {
  font-size: 15px;
  padding: 0;
}
.footer-container {
  color: azure;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  background: rgb(2, 2, 32);
}
.footer-container a {
  color: azure;
}
.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 20px;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  background: rgb(2, 2, 32);
  padding-top: 5px;
  padding-bottom: 15px;
}
.card p {
  font-size: 13px;
  padding: 25px;
  text-align: start;
}

.btn {
  display: block;
  color: azure;
  text-transform: uppercase;
  font-size: 13px;
  padding: 9px;
}
main img {
  max-width: 85%;
  height: 55%;
}
main h2 {
  font-size: 16px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
footer p {
  font-size: 16px;
  text-align: center;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

@media (max-width: 960px) {
  main img {
    display: none;
  }
  .header-container h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  .header-container h4 {
    font-size: 9px;
  }
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-grid p {
    display: none;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  footer {
    font-size: 10px;
  }
  footer p {
    display: none;
  }
}
