.container {
  margin: 0 auto;
  text-align: center;
  font-family: "Playfair Display", serif;
  background: black;
  padding-top: 20px;
  max-width: 1200px;
  color: azure;
}

h1 {
  font-size: 90px;
  text-decoration-line: underline;
  letter-spacing: 15px;
}
h2 {
  font-size: 50px;
}
